#include "resource.h"
#ifdef LASTKEY_HAS_VERSION
#include "Version.h"
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION LASTKEY_VERSION_MAJOR, LASTKEY_VERSION_MINOR, LASTKEY_VERSION_PATCH, LASTKEY_VERSION_BUILD
 PRODUCTVERSION LASTKEY_VERSION_MAJOR, LASTKEY_VERSION_MINOR, LASTKEY_VERSION_PATCH, LASTKEY_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "LastKey\0"
            VALUE "FileVersion", LASTKEY_VERSION_TEXT "\0"
            VALUE "ProductName", "LastKey\0"
            VALUE "ProductVersion", LASTKEY_VERSION_TEXT "\0"
            VALUE "OriginalFilename", "LastKey.exe\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
#endif

IDI_LASTKEY ICON "lastkey-logo.ico"
